.font-judul {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.my-shadow {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 5px 20px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 20px 0px rgba(255, 255, 255, 1);
}
a {
  cursor: pointer;
}

.home-product {
  position: relative;
}
.home-banner {
  padding-bottom: 0 !important;
  position: relative;
  z-index: 2;
}
.home-banner ~ svg {
  position: relative;
  margin-top: -20px;
  z-index: 2;
}

.home-product::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 250px;
  top: -250px;
  background-color: #ffed9f;
}
